<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Course Details </title>
        <script th:replace="headerLinks"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Course Details
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">Name</div>
                    <div id="titleField" class="controls text" th:text="${course.name}"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Owner</div>
                    <div id="linksField" class="controls text" th:text="${course.owner.email}"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Description</div>
                    <div id="linksField" class="controls text" th:text="${course.description}"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Links</div>
                    <div id="linksField" class="controls text" th:text="${course.links}"></div>
                </div>
                <div class="control-group" th:if="${course.subscribers.size() &gt; 0}">
                    <div class="control-label">Subscribers</div>
                    <div id="subscribersField" class="controls text"> 
                        <a th:href="@{'/courses/'+${course.id}+ '/participants'}"
                           th:text="${course.subscribers.size()}">
                        </a>
                    </div>
                </div>
                <div class="control-group" th:if="${course.attenders.size() &gt; 0}">
                    <div class="control-label">Attendee</div>
                    <div id="attendeeField" class="controls text"> 
                        <a th:href="@{'/courses/'+${course.id}+ '/participants'}"
                           th:text="${course.attenders.size()}">
                        </a>
                    </div>
                </div>
                <div class="control-group" th:if="${course.getAverageGrade() &gt; 0}">
                    <div class="control-label">Grade</div>
                    <div id="attendeeField" class="controls text" th:text="${course.getAverageGrade()}"></div>
                </div>
            </div>
            <div class="form-actions">
                <a class="btn" href="/courses">Back</a>
            </div> 
        </div> 
    </body>
</html>