<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:replace="headerLinks"></script>
        <title>Courses page </title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Courses
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <div class="courses-top-control" sec:authorize="hasAuthority('Lector')">
                <a id="createCourseButton" class="btn btn-primary" href="/courses/create">Create</a>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span1">Id</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course: ${courses}">
                        <td th:text="${course.id}">Id</td>
                        <td>
                            <a th:href="@{/courses/} + ${course.id}" th:text="${course.name}">Course </a>
                        </td>
                        <td sec:authorize="hasAuthority('Lector')">
                            <a class="btn btn-mini" th:href="@{/courses/} + ${course.id}+ @{/update}">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html> 