<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script th:replace="headerLinks"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Evaluation
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <form class="form-horizontal" th:action="'/courses/'+${course.getId()}+ '/evaluate'" method="post">
                <fieldset>
                    <div class="control-group">
                        <div class="control-label">
                            Course
                        </div>
                        <div id="titleField" class="controls text" th:text="${course.name}"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            Lecturer
                        </div>
                        <div id="linksField" class="controls text" th:text="${course.owner.email}"></div>
                    </div>
                    <div class="control-group">
                        <label id="gradeField" class="control-label">Grade</label>
                        <div class="controls">
                            <input class="span2" type="number" min="1" max="5" required name="grade"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="evaluateButton" class="btn btn-success" type="submit">Evaluate</button>
                        <a class="btn" href="/courses">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html> 