<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <meta charset="UTF-8">
        <script th:replace="headerLinks"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Login
                </h1>
            </header>
            <form class="form-horizontal" th:action="@{/login}" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Login</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">@</span>
                                <input id="loginField" class="span3" name="j_username" type="email" required autofocus/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input id="passwordField" class="span3" type="password" name="j_password" required=""/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="loginButton" class="btn btn-primary" type="submit">Login</button>
                    </div>
                </fieldset> 
            </form>
        </div>
    </body>
</html>
