<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script th:replace="headerLinks"></script>
        <title>Courses page </title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    My Courses
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <div class="courses-top-control">
                <a class="btn" href="/courses">Courses</a>
            </div>
            <script th:replace="coursesTable"></script>
        </div>
    </body>
</html> 