<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Subscribe
                    <div class="logout">
                        <span id="currentUserLogin">
                            user-a@tc.edu
                        </span>
                        <a href="logout.html">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="control-label">
                            Course
                        </div>
                        <div id="titleField" class="controls text">
                            Project Management 101
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            Lecturer
                        </div>
                        <div id="ownerField" class="controls text">
                            lecturer-a@tc.jtc
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="subscribeButton" class="btn btn-success" type="submit">Subscribe</button>
                        <a class="btn" href="courses.html">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html> 