<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="//code.jquery.com/jquery-latest.js"></script>
        <script th:replace="dependenciesBootstrap"></script>
        <meta name="viewport" content="width=device-width">
        <title>JS Bin</title>
    </head>
    <body>
        <div class="alert alert-error">
            <div>
                <strong>Okay, Houston, we've had a problem here.</strong>
            </div>
            <ul>
                <li>Login must not be blank.</li>
                <li>Password must not be blank.</li>
            </ul>
        </div>
        <div class="container">
            <form class="form-horizontal">
                <div class="control-group warning">
                    <label class="control-label" for="inputWarning">Input with warning</label>
                    <div class="controls">
                        <input type="text" id="inputWarning">
                        <span class="help-inline">Something may have gone wrong</span>
                    </div>
                </div>
                <div class="control-group error">
                    <label class="control-label" for="inputError">Input with error</label>
                    <div class="controls">
                        <input type="text" id="inputError">
                        <span class="help-inline">Please correct the error</span>
                    </div>
                </div>
                <div class="control-group info">
                    <label class="control-label" for="inputInfo">Input with info</label>
                    <div class="controls">
                        <input type="text" id="inputInfo">
                        <span class="help-inline">Username is taken</span>
                    </div>
                </div>
                <div class="control-group success">
                    <label class="control-label" for="inputSuccess">Input with success</label>
                    <div class="controls">
                        <input type="text" id="inputSuccess">
                        <span class="help-inline">Woohoo!</span>
                    </div>
                </div>
            </form>
        </div><!-- /container -->
    </body>
</html>