<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="//code.jquery.com/jquery-latest.js"></script>
        <script th:replace="dependenciesBootstrap"></script>
        <meta name="viewport" content="width=device-width">
        <title>JS Bin</title>
    </head>
    <body>
        <div class="control-group warning">
            <label class="control-label" for="inputWarning">Поле с предупреждением</label>
            <div class="controls">
                <input type="text" id="inputWarning">
                <span class="help-inline">Что-то здесь не так</span>
            </div>
        </div>
        <div class="control-group error">
            <label class="control-label" for="inputError">Поле с ошибкой</label>
            <div class="controls">
                <input type="text" id="inputError">
                <span class="help-inline">Пожалуйста исправьте ошибку в этом поле</span>
            </div>
        </div>
        <div class="control-group success">
            <label class="control-label" for="inputSuccess">Успешное поле</label>
            <div class="controls">
                <input type="text" id="inputSuccess">
                <span class="help-inline">Здесь все правильно!</span>
            </div>
        </div>
    </body>
</html>