<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script th:replace="headerLinks"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Trouble :(
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <div class="alert alert-error">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>Unknown course</li>
                </ul>
            </div>
            <div class="form-horizontal">
                <div class="form-actions">
                    <a class="btn" href="/courses">Back</a>
                </div>
            </div>
        </div>
    </body>
</html> 