<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script th:replace="headerLinks"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Create Course
                    <script th:replace="logoutHeader"></script>
                </h1>
            </header>
            <form class="form-horizontal" th:action="@{/courses/} + ${course.id}+ @{/update}" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input name="titleField" class="span5" type="text" th:field="${course.name}" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="descriptionField" class="span5" rows="3" th:field="${course.description}" required ></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Links</label>
                        <div class="controls">
                            <textarea name="linksField" class="span5" rows="3" th:field="${course.links}"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="createButton" class="btn btn-primary" type="submit">Update</button>
                        <a class="btn" href="/courses">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html> 